* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #f3e4d7;
  --text-color: #814c3b;
  --seocndary-text-color: #975671;
  --secondary-bg-color: white;
  --main-color: black;
}

body {
  background: var(--bg-color);
}

.container {
  background: var(--secondary-bg-color);
  height: 100rem;
  width: 40rem;
  margin-top: 4rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}

.container .container-img {
  height: 250px;
  width: 600px;
  border-radius: 10px;
  margin-top: 2rem;
}

#heading {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#heading h1 {
  font-weight: 600;
}

#heading p {
  font-size: 0.9rem;
  font-weight: 300;
}

#prep-container {
  background: #fff7fc;
  padding-top: 1.5rem;
  padding-left: 2rem;
}
#prep-container h1 {
  color: var(--seocndary-text-color);
  font-size: 1.5rem;
  font-weight: 600;
}

#prep-container ul li {
  font-size: 1rem;
  padding: 0.3rem;
}
#prep-container ul li::marker {
  color: var(--seocndary-text-color);
}

#ingredients {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.1rem solid #8a8885;
}

#ingredients h1,
#ingredients ul li::marker {
  color: var(--text-color);
}

#ingredients ul li {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#instructions {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.1rem solid #8a8885;
}

#instructions h1,
#instructions ol li::marker {
  color: var(--text-color);
}

#instructions ol li {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#nutrition h1 {
  color: var(--text-color);
}

.table .bold {
  font-weight: 800;
  color: var(--text-color);
}
/* Global Class */
.list-span {
  font-weight: 600;
}

.unbold {
  font-weight: 300;
}

@media (max-width: 425px) {
  .container {
    max-width: 425px;
    height: 100rem;
  }

  .container .container-img {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    margin-top: 2rem;
  }
}
